@import "../node_modules/bootstrap/scss/bootstrap";

.fs-07 {
  font-size: 0.7rem !important;
}

.baja-mayor {
  --bs-table-bg: #fcc1b4 !important;
}

.media-mayor {
  --bs-table-bg: #fbe3a3 !important;
}

.alta-mayor {
  --bs-table-bg: #d3fcb4 !important;
}

